#my-post {
  height: 550px;
}
#content {
  background-color: #eeee;
}
#my-post::-webkit-scrollbar {
  display: none;
}
#postingan_text {
  cursor: pointer;
}
#postingan_text:hover {
  background-color: white;
}
